# SQLite
DATABASE_URL='sqlite+aiosqlite:///library.db'

# PostgreSQL (docker-compose)
# DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/postgres

JWT_SECRET_KEY='SECRET_KEY'
JWT_ALGORITHM='HS256'
JWT_EXPIRATION_MINUTES=5
